a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: orange;
  text-decoration: none;
}

.nav-link {
  color: green;
  cursor: pointer;
  text-decoration: overline underline;
}

.btn {
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  padding: 15px;
}

.btn:hover {
  background-color: lightblue;
  color: darkorange;
  border-radius: 5px;
  text-decoration: none;
  padding: 15px;
}

.btn:active {
  background-color: white;
  color: blue;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

.activity {
  border-top: 2px solid black;
  border-bottom: 5px solid black;
  border-left: 2px solid black;
  border-right: 5px solid black;
}

.activity:hover {
  background-color: #3021ff;
}

.activity:active {
  border-bottom: 2px solid black;
  border-top: 5px solid black;
  border-right: 2px solid black;
  border-left: 5px solid black;
}
















